body
{
margin:0px;
padding:0px;
}
#pin_container
{
width:380px;
height:375px;
background-color:#FFFFFF;
}
#pin_top
{
margin-left:18px;
width:362px;
height:15px;
}
#pin_top_l
{
float:left;
background-image:url(../image/proin_tl.jpg);
height:15px;
width:15px;
}
#pin_top_m
{
background-image:url(../image/proin_tm.jpg);
background-repeat:repeat-x;
height:15px;
width:332px;
float:left;
}
#pin_top_r
{
float:right;
background-image:url(../image/proin_tr.jpg);
height:15px;
width:15px;
}
#pin_med
{
float:left;
width:380px;
height:345px;
margin-top:0px;
top:0px;
}
#pin_med_l
{
background-image:url(../image/product_info_l_2.jpg);
width:35px;
height:345px;
float:left;
}
#pin_med_m
{
float:left;
width:330px;
height:345px;
}
#pin_med_r
{
background-image:url(../image/proin_mr.jpg);
background-repeat:repeat-y;
height:345px;
width:15px;
float:right;
}
#pin_bottom
{
margin-left:18px;
width:362px;
height:15px;
float:left;
}
#pin_bottom_l
{
float:left;
background-image:url(../image/proin_bl.jpg);
height:15px;
width:15px;
}
#pin_bottom_m
{
background-image:url(../image/proin_bm.jpg);
background-repeat:repeat-x;
height:15px;
width:332px;
float:left;
}
#pin_bottom_r
{
float:right;
background-image:url(../image/proin_br.jpg);
height:15px;
width:15px;
}