@charset "utf-8";
/* CSS Document */
body { margin:0; padding:0;}
 /*页面头部*/
#header { margin:2px; width:1181px; height:214px; background:#69F;}
#login { width:1181px; height:31px; background:#F9C;}
.logo_search
{	width:100%; background:#09F; height:146px; background:#FFF;}
#logo { width:294px; height:101px;  float:left; background: url(image/index_image.png) no-repeat -45px -75px scroll transparent; margin-top:40px;}
#search { width:541px; height:79px; background: #669; float:left; margin-left:97px; margin-top:46px;}
.navigation
{ width:100%; height:38px; margin-top:-5px;}
#nav_red{ width:100%; height:5px; background:#DF0029; }
#nav_blue{ 
width:100%; 
height:33px;
 background: url(image/NAV.gif) repeat;
  _margin-top:-9px;}
.adv
{ height:283px; background:#6CF;  margin-top:3px;}
.content
{ height:1542px; background:#CFF; margin-top:3px;}
.footer
{ width:100%; height:211px; background:#06F; margin-top:-5px;}
#footer_red{width:100%; height:4px; background:#DF0029;}
#footer_blue{width:100%; height:154px; background:#1075B5; _margin-top:-10px; padding-top:50px;}
#statement{color:#FFF;}
#footer_deepblue{width:100%; height:53px; background:#00304E;}
